
<!-- views/dashboard.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
<title>CommuniTeach</title>
        
    <!-- import css files -->
    <% include ../partials/importCSS.ejs %>
    <!-- import css files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <style>


    .searchResults{

        background-color: #d3d3d3;
        border-radius: 10px;
        font-size: 15px;
        margin-top: 10%;
        margin-left: 10%;
        width: 80%;


    }

    </style>

</head>
<body>

<!-- banner -->


    <!-- Import header & Navigation bar -->
    <% include ../partials/header.ejs %>
    <!-- Import header & Navigation bar -->

    <!-- banner-Slider -->



        <div class="clearfix"> </div>

    <!-- banner-Slider -->
 
<!-- //banner --> 

<% include ../partials/pageTemplate.ejs %>  
                    <div class="banner-dott">
                    <div class="clearfix"> </div>
                    <div class="searchResults">

                        <% if(user){ %>
                            <center><h3>This is the placeholder Dashboard page for <%= userNameIn %></h3></center>
                                    <!--<h3>Username = <%= userNameIn %></h3>
                                    <h3>Name = <%= nameIn %></h3>
                                    <h3>Email = <%= emailIn %></h3>-->
                                    <div class="row">
                                      <div class="col-sm-2">
                                      </div>
                                      <div class="col-sm-6">
                                        <div class="card" style = "width:80%; margin-right:10%; margin-left:10%; background-color: white; font-color: black">
                                        <center><img class="card-img-top" src="profilePic.png" alt="Card image" style="width:50%; height:50%; padding-top: 5px"></center>
                                        <div class="card-body">
                                          <h4 class="card-title" style = "color: black"><%= userNameIn %></h4>
                                          <p class="card-text" style = "color: black">Email: <%= emailIn %></p>
                                          <p class="card-text" style = "color: black">Name: <%= nameIn %></p>
                                          <p class="card-text" style = "color: black">Bio: Your bio is currently empty</p>
                                          <a href="#" class="btn btn-primary">Edit Profile</a>
                                          <br>
                                        </div>
                                      </div>
                                      </div>
                                      <div class="col-sm-3">
                                        <div class="card" style = "width:90%; margin-right:5%; margin-left:5%; background-color: white; font-color: black">
                                        <div class="card-body">
                                          <h4 class="card-title" style = "color: black">Statistics</h4>
                                          <p class="card-text" style = "color: black"><b>Number of posts:</b> #Unknown</p>
                                          <p class="card-text" style = "color: black"><b>Contributor level:</b> #Unknown</p>
                                          <p class="card-text" style = "color: black"><b>Account age:</b> #Unknown</p>
                                          <p class="card-text" style = "color: black"><b>Achievements:</b> #Unknown</p>
                                          <br>
                                        </div>
                                      </div>
                                      </div>

                        <% } else{ %>
                          <center><h1>Login to see search your dashboard</h1></center>
                        <% } %>

                        <br>
                    </div>
                    <br>
                    </div>
                    <br>
                    </div>
</body>
</html>